repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: just ruff
        language: system
        types: [python]
        pass_filenames: false
      - id: format
        name: format
        entry: just format
        language: system
        types: [python]
        pass_filenames: false
      - id: safety
        name: safety
        entry: just safety
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: bandit
        name: bandit
        entry: just bandit
        language: system
        files: (^\.bandit|^eventbus_learning/)$
        pass_filenames: false
      - id: test
        name: test
        entry: just test
        language: system
        files: (^pytest\.ini|^\.coveragerc|\.py)$
        pass_filenames: false
